* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

.container {
    display: flex;
}

#sidebar {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 23%;
    background-color: #8c8c8c;
}

#content {
    width: 77%;
    position: fixed;
    right: 0;
    height: 100vh;
    overflow: scroll;
    background-color: #8c8c8c;
}

a {
    text-decoration: none;
}

.sidebar-menu-left {
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    border-radius: 8px;
    border-color: #ccc #000 #000 #ccc;
    box-shadow: -1px 10px 20px rgb(0 0 0 / 40%);
}

.sidebar-menu-left:hover {
    cursor: pointer;
    opacity: 0.5;
}

img {
    width: 60px;
    margin-left: 16px;
}

.img-admin {
    width: 25%;
}

h1 {
    font-size: 26px;
    margin: 15px 0 15px 10px;
}

li {
    list-style: none;
}

span {
    font-size: 18px;
}

.user-admin {
    display: flex;
}

.name-admin {
    font-size: 22px;
    font-family: monospace;
}

.task-admin {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.admin-menu {
    margin-top: 5px;
}

header {
    display: flex;
    right: 0;
}

.add-item {
    margin: 15px 0 15px 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: -1px 4px 10px rgb(0 0 0 / 40%);
    padding: 0 8px;
}

.add-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

.add-item-name {
    background-color: #8c8c8c;
    margin-left: 5px;
}

.content-body {
    color: white;
}

.data {
    font-size: 12px;
    background-color: #262626;
}

.digital {
    font-size: 32px;
    margin-top: 10px;
    background-color: #262626;
}

.content-body-header {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
}

.box-header {
    display: flex;
    width: 18%;
    border: 2px solid #262626;
    background-color: #262626;
    border-radius: 4px;
    box-shadow: -1px 4px 10px rgb(0 0 0 / 40%);
}

.statistical {
    width: 88px;
    background-color: #262626;
    margin: 8px;
}

.icon-content {
    background-color: #262626;

}

/* ////////////////////////////////////////////////////////////////// */
.box {
    padding: 20px 5px;
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.wrapper {
    background-color: #262626;
    padding: 8px;
    color: #fff;
    border: 4px solid #222028;
    border-radius: 4px;
}

.box__wrap {
    display: flex;
    align-items: center;
}

.dashbox__more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 26px;
    background-color: #ccc;
    font-size: 12px;
    margin-left: 20px;
    color: #fff;
    border-radius: 6px;
}
.dashbox__more:hover{
    opacity: 0.6;
}

.box_title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.table {
    display: flex;
    padding-bottom: 12px;
}

.grow {
    flex-grow: 1;
}

.tittle {
    font-size: 12px;
    text-transform: uppercase;
    margin: 10px 5px;
}

.item {
    margin: 2px 5px;
}