* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Main {
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("/assets/css/img/background.jpg");

}
.name{
    background-color: #ccc;
}
#root {
    margin: 0 auto;
}
.user,
.pass {
    margin-top: 30px;
    color: #fff;
    padding-bottom: 15px;
    display: flex;
}
input {
    padding: 4px 10px;
    margin: 0;
    border: 1px solid #ccc;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}

.btn-login {
    margin-top: 10px
}

.place-login-btn {
    text-decoration: none;
    color: #fff;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
}

.place-login-btn:hover {
    color: #000;
    background-color: #ccc;
}
